body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 10px;
}
h1{
    font-size:3em;
    color:#0e159b;
}
form {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    width:25%;
    padding:5px;
    margin-top: 10px;
    background-color: #0e159b;
    color: rgb(253, 253, 253);
    border: none;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #fd9b91;
}

h1 {
    text-align: center;
}
